<nav id="nav">
  <ul class="right ">
  </ul>
   <ul id="slide-out" class="side-nav fixed">
    <div class="nav-container">
        <li class="center-align">
        {{#link-to 'about' id="profile-link"}}
            <li id="profile-icon" class="fa fa-smile-o fa-4x">
            </li>
                <p id="profile-title">About</p>
        {{/link-to}}
        </li>
        <!-- <li class="link-main">{{#link-to 'overview' class="link-main"}}Overview{{/link-to}}</li> -->

        {{#each class in model.classes}}
            <li {{bind-attr style=class.border}}>
                {{#link-to 'class' class.id}}

                    <div id="class-side-row" class="row">
                        <div class="col s9">
                            {{class.name}}
                        </div>
                        <div class="col s3 right-align">
                            {{class.grade}}
                        </div>
                    </div>

                     <!-- {{class.name}} -->
                 {{/link-to}}
            </li>
        {{/each}}

        <li class="center-align">
        {{#link-to 'new' id="add-link"}}
            <li id="add-icon" class="fa fa-plus-circle fa-2x">
            </li>
            <br>
            <p id="add-class-title">Add Class</p>
        {{/link-to}}
        </li>
        <!-- <li>{{#link-to 'import' class="waves-effect waves-light btn"}} Import Schedule{{/link-to}}</li>
        <li><a class="waves-effect waves-light btn">Logout</a></li> -->
    </div>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>

<div id="main">
    {{outlet}}
</div>
