
<div class="row">
    <div id="new-header" {{bind-attr style=backgroundColour}} class="col s12 z-depth-1">
        <div class="row">
            <div id="class-top" class="col s12 m8 offset-m2 z-depth-1">
                <div id="class-header" class="row">
                    <div class="col s8">
                        <h3 class="truncate f-200">{{class.name}}</h3>
                        <p id="class-error" class="error">{{error}}</p>
                    </div>
                    <div class="col s3">
                        <h3 class="f-200">{{class.grade}}</h3>
                    </div>
                    <div id="class-delete" {{action 'deleteClass' class.id}} class="col s1 click-area">
                        <!-- <i id="class-delete" class="fa fa-times fa-2x"></i> -->
                        <i class="mdi-content-clear"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="class-marks" class="row">
    <div class="col s12 m8 offset-m2">

        <ul class="collapsible popout" data-collapsible="accordion">

            {{#each mark in class.marks}}

            <li class="mark-list-item mark-header">
                <div {{action 'activeChanged' mark.id}} class="collapsible-header mark-cheader">
                    <div class="row">
                        <div id="mark-title" class="col s9">

                            <div class="row">
                                <div class="col s12">
                                    {{mark.title}}
                                </div>
                            </div>

                            <!-- {{mark.title}}

                            <i class="mdi-editor-mode-edit"></i> -->
                        </div>
                        <div class="col s3 right-align">
                            {{computedGrade mark.grade mark.total}}
                        </div>
                    </div>
                </div>

                <div class="collapsible-body">

                    <div id="mark-input-container" class="row">

                        <div class="col s9">

                            <div class="mark-edit-panel row">

                                <div id="mark-input" class="input-field col s3">
                                    {{input value=mark.weight type="text" length="3"}}
                                    <label class="active" for="icon_prefix">Weight</label>
                                </div>

                                <div id="mark-input" class="input-field col s3">
                                    {{input value=mark.grade type="text" length="3"}}
                                    <label class="active" for="icon_prefix">Grade</label>
                                </div>

                                <div id="mark-input" class="input-field col s3">
                                    {{input placeholder="100" value=mark.total type="text" length="3"}}
                                    <label class="active" for="icon_prefix">Total</label>
                                </div>

                            </div>

                        </div>

                        <div id="mark-icons" class="col s3">

                            <div class="row">
                                <div class="col s12">
                                    <div {{action 'deleteMark' mark.id}} id="mark-icon-down" class="click-area col s12 center-align">
                                        <i class="mdi-content-clear"></i>
                                    </div>
                                </div>
                                <!-- <div class="col s12">
                                    <div id="mark-icon-down" class="edit-button col s12 click-area center-align">
                                        <i class="mdi-editor-mode-edit"></i>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    {{# if mark.needed.length}}

                    <div id="need-container" class="row center-align">

                        {{#each need in mark.needed }}

                        <div class="col s2 need">
                            <p class="need-final">{{need.final}}</p>
                            <p class="need-grade">{{need.grade}}</p>
                        </div>

                        {{/each}}

                        <div class="col s2 need">
                            <p id="need-final-input" class="need-final">
                                {{input type="text" placeholder="want" value=mark.need_input_want}}
                            </p>
                            <p class="need-grade">
                                {{#if mark.need_input_need}}
                                {{mark.need_input_need}}
                                {{else}}
                                <span style="color:gray">need</span>
                                {{/if}}
                            </p>
                        </div>

                    </div>

                    {{/if}}

                </div>
            </li>

            {{/each}}
        </ul>

        <div id="mark-add" class="row">
            <div class="col s12 z-depth-1">
                <div class="row">
                    <div class="col s10">
                        <div class="input-field">
                            {{input id="mark-title" action="addMark" value=mark_title type="text" length="10"}}
                            <label for="mark_title">Mark Title</label>
                        </div>
                    </div>
                    <div id="mark-add-icon" {{action 'addMark'}} class="col s2 center-align click-area">
                        <!-- <i id="mark-add-icon" class="fa fa-plus fa-2x"></i> -->
                        <i class="mdi-content-add"></i>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- {{class.id}}
<br>
{{class.marks.length}} -->

<!-- <section class="linear">
    <div class="scotch-panel" data-clickSelector="section.linear, .all-same-time" data-transition="linear">
       <h2>Linear</h2>
   </div>
   <h2>Linear</h2>
</section> -->

<script src="assets/scotchPanels.min.js"></script>
<script src="assets/collapse-init.js"></script>
